{% extends '::base2.html.twig' %}





{% block body %}
    <!DOCTYPE html>
    <html lang="en">

    <body>

    <!-- Slider -->
    <div class="gla_slider gla_wht_txt">

        <!-- Slider -->
        <div class="gla_slider_carousel">



            <div class="gla_slider gla_image_bck  gla_wht_txt gla_fixed"  data-image="{{ asset('images1/wedding/ian_kelsey/14812748891_aef5b27a4a_k.jpg') }}" data-stellar-background-ratio="0.2">
                <div class="gla_over" data-color="#000" data-opacity="0.7"></div>

                <div class="container">


                    <!-- Slider Texts -->
                    <div class="gla_slide_txt gla_slide_center_middle text-center">
                        <p><img src="{{ asset('images1/animations/ourwedding_gold.gif') }}" alt="" height="330"></p>
                        <div class="gla_slide_title">Kelly & Rob</div>

                    </div>
                    <!-- Slider Texts End -->

                </div>
                <!-- container end -->
            </div>
            <!-- Slider End -->

            <div class="gla_slider gla_image_bck" data-image="{{ asset('images1/wedding_m/andreas-ronningen-29698.jpg') }}">
                <div class="gla_over" data-color="#000" data-opacity="0.3"></div>

                <div class="container">


                    <!-- Slider Texts -->
                    <div class="gla_slide_txt gla_slide_center_middle text-center">
                        <div class="gla_slide_title">Save the Date<br>August 10, 2017</div>

                    </div>
                    <!-- Slider Texts End -->

                </div>
                <!-- container end -->
            </div>
            <!-- Slider End -->



        </div>
        <!-- carousel end -->





        <!-- Slide Down -->
        <a class="gla_scroll_down gla_go" href="#gla_content">
            <b></b>
            Scroll
        </a>


    </div>
    <!-- Slider End -->

    <!-- Content -->
    <section id="gla_content" class="gla_content">




        <!-- section -->
        <section class="gla_section">


            <div class="container text-center">
                <p><img src="{{ asset('images1/animations/ourwedding_gold_wh.gif') }}" height="200" alt=""></p>

                <div class="row text-center">
                    <div class="col-md-4 gla_round_block">
                        <div class="gla_round_im gla_image_bck" data-image="{{ asset('images1/wedding/ian_kelsey/600x600/14818599945_45817b7c25_k.jpg') }}"></div>
                        <h3>Pack Barcha flous</h3>
                        <p>Salle de mariage les berges du Lac<br>
                            Saber rebai chanteur<br>
                            Menu : Entrée , 3ché , Dessert<br>
                            Bouquet qualitée Top<br>
                            9250 Dt </p>
                        <a href="#" class="btn">Réserver</a>
                    </div>
                    <div class="col-md-4 gla_round_block">
                        <div class="gla_round_im gla_image_bck" data-image="{{ asset('images1/wedding/ian_kelsey/600x600/14814281111_b4f0b02491_k.jpg') }}"></div>
                        <h3>Pack metwaset</h3>
                        <p>Salle de mariage Sheraton<br>
                            fer9et boudinar chanteur<br>
                            Menu : Entrée , 3ché , Dessert<br>
                            Bouquet qualitée metwasta<br>
                            7844 Dt </p>
                        <a href="#" class="btn">Réserver</a>
                    </div>
                    <div class="col-md-4 gla_round_block">
                        <div class="gla_round_im gla_image_bck" data-image="{{ asset('images1/wedding/ian_kelsey/600x600/14629215270_1dd23b097e_k.jpg') }}"></div>
                        <h3>Pack zaweli</h3>
                        <p>Fou9 sta7<br>
                            fan cha3bi<br>
                            Menu : Entrée , 3ché , Dessert<br>
                            Warda 7amra <br>
                            2500 Dt</p>
                        <a href="#" class="btn">Réserver</a>
                    </div>
                </div>


            </div>
            <!-- container end -->

        </section>
        <!-- section end -->




        <!-- section -->
        <section class="gla_section gla_image_bck gla_fixed gla_wht_txt" data-stellar-background-ratio="0.8" data-image="{{ asset('images1/wedding/ian_kelsey/14815470541_082c1294ad_k.jpg') }}">

            <!-- Over -->
            <div class="gla_over" data-color="#000" data-opacity="0.7"></div>

            <div class="container text-center">
                <p><img src="{{ asset('images1/animations/just_gold.gif') }}" height="143" alt=""></p>



            </div>
            <!-- container end -->

        </section>
        <!-- section end -->






    </section>
    <!-- Content End -->





    </body>
    </html>

{% endblock %}