<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from themes.potenzaglobalsolutions.com/html/cupid-love-dating-website-html5-template/profile.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 25 Jan 2018 10:34:47 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Cupid Love - Dating HTML5 Template" />
    <meta name="author" content="potenzaglobalsolutions.com" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Cupid Love Dating HTML5 Template</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ asset('images/favicon.ico') }}" />

    <!-- bootstrap -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />

    <!-- mega menu -->
    <link href="{{ asset('css/mega-menu/mega_menu.css') }}" rel="stylesheet" type="text/css" />

    <!-- font awesome -->
    <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />

    <!-- Flaticon -->
    <link href="{{ asset('css/flaticon.css') }}" rel="stylesheet" type="text/css" />

    <!-- owl-carousel -->
    <link href="{{ asset('css/owl-carousel/owl.carousel.css') }}" rel="stylesheet" type="text/css" />

    <!-- General style -->
    <link href="{{ asset('css/general.css') }}" rel="stylesheet" type="text/css" />

    <!-- main style -->
    <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css" />

    <!-- Style customizer -->
    <link rel="stylesheet" type="text/css" href="#" data-style="styles" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style-customizer.css') }}" />

</head>

<body>

<!--=================================
 preloader -->
<div id="preloader">
    <div class="clear-loading loading-effect"><img src="{{ asset('images/loading.gif') }}" alt=""></div>
</div>
<!--=================================
header -->

<header id="header" class="dark">
    <div class="topbar">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="topbar-left text-left">
                        <ul class="list-inline">
                            <li><a href="mailto:support@website.com"><i class="fa fa-envelope-o"> </i> support@website.com </a></li>
                            <li><a href="tel:(007)1234567890"><i class="fa fa-phone"></i> (007) 123 456 7890 </a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="topbar-right text-right">
                        <ul class="list-inline social-icons color-hover">
                            <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li class="social-instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li class="social-dribbble"><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        </ul>
                        <ul class="list-inline text-uppercase top-menu">
                            <li><a href="register.html">Inscription</a></li>
                            <li><a href="login.html">Se connecter</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--=================================
     mega menu -->

    <div class="menu">
        <!-- menu start -->
        <nav id="menu" class="mega-menu">
            <!-- menu list items container -->
            <section class="menu-list-items">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <!-- menu logo -->
                            <ul class="menu-logo">
                                <li>
                                    <a href="index-default.html"><img src="{{ asset('images/logo.png') }}" alt="logo"> </a>
                                </li>
                            </ul>
                            <!-- menu links -->
                            <ul class="menu-links">
                                <!-- active class -->


                                <li><a href="{{ path('user_homepage') }}">Accueil</a></li>



                                <li><a href="{{ path('profile') }}">Les Profils compatible </a></li>



                                <li><a href="{{ path('AfficherMesAmis') }}">Mes Amis</a></li>



                                <li><a href="javascript:void(0)"> Pages <i class="fa fa-angle-down fa-indicator"></i></a>
                                    <!-- drop down full width -->
                                    <div class="drop-down grid-col-12">
                                        <!--grid row-->
                                        <div class="grid-row">
                                            <!--grid column 3-->
                                            <div class="grid-col-3">
                                                <ul>
                                                    <li><a href="about-1.html">About 01</a></li>
                                                    <li><a href="about-2.html"> About 02 </a></li>
                                                    <li><a href="team-1.html"> Team 01</a></li>
                                                    <li><a href="team-2.html"> Team 02</a></li>
                                                    <li><a href="team-single.html"> Team Single</a></li>
                                                </ul>
                                            </div>
                                            <!--grid column 3-->
                                            <div class="grid-col-3">
                                                <ul>
                                                    <li><a href="faqs-1.html"> Faqs 01</a></li>
                                                    <li><a href="faqs-2.html"> Faqs 02</a></li>
                                                    <li><a href="contact-1.html"> Contact 01</a></li>
                                                    <li><a href="contact-2.html"> Contact 02</a></li>
                                                    <li><a href="contact-3.html"> Contact 03</a></li>
                                                </ul>
                                            </div>
                                            <!--grid column 3-->

                                            <!--grid column 3-->
                                            <div class="grid-col-3">
                                                <ul>
                                                    <li><a href="error-404.html"> 404 Error </a></li>
                                                    <li><a href="coming-soon.html">Coming Soon </a></li>
                                                    <li><a href="terms-conditions.html"> Terms Conditions</a></li>
                                                    <li><a href="privacy-policy.html"> Privacy Policy</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>




                                <li><a href="blog-masonry-fullwidth.html">Blog</a></li>

                                <li><a href="javascript:void(0)"> Shortcodes <i class="fa fa-angle-down fa-indicator"></i></a>
                                    <!-- drop down full width -->
                                    <div class="drop-down grid-col-12">
                                        <!--grid row-->
                                        <div class="grid-row">
                                            <!--grid column 3-->
                                            <div class="grid-col-3">
                                                <ul>
                                                    <li><a href="elements-accordions.html"><i class="fa fa-list-ul"></i> accordions </a></li>
                                                    <li><a href="elements-action-box.html"><i class="fa fa-rocket"></i> action box</a></li>
                                                    <li><a href="elements-alerts-and-callouts.html"><i class="fa fa-info-circle"></i> alerts and callouts</a></li>
                                                    <li><a href="elements-buttons.html"><i class="fa fa-external-link"></i> buttons</a></li>
                                                    <li><a href="elements-carousel-slider.html"><i class="fa fa-exchange"></i> carousel slider</a></li>
                                                </ul>
                                            </div>
                                            <!--grid column 3-->
                                            <div class="grid-col-3">
                                                <ul>
                                                    <li><a href="elements-columns.html"><i class="fa fa-th"></i> columns</a></li>
                                                    <li><a href="elements-content-box.html"><i class="fa fa-file-text-o"></i> content box</a></li>
                                                    <li><a href="elements-counter.html"><i class="fa fa-sort-numeric-asc"></i> counter</a></li>
                                                    <li><a href="elements-data-table.html"><i class="fa fa-table"></i> data table</a></li>
                                                    <li><a href="elements-lists-style.html"><i class="fa fa-th-list"></i> lists style</a></li>
                                                </ul>
                                            </div>
                                            <!--grid column 3-->
                                            <div class="grid-col-3">
                                                <ul>
                                                    <li><a href="elements-post-style.html"> <i class="fa fa-photo"></i> post style</a></li>
                                                    <li><a href="elements-timeline.html"><i class="fa fa-tasks"></i>Timeline</a></li>
                                                    <li><a href="elements-social-icon.html"><i class="fa fa-share-alt"></i> social icon</a></li>
                                                    <li><a href="elements-testimonial.html"><i class="fa fa-quote-left"></i> testimonial</a></li>
                                                    <li><a href="elements-tabs.html"><i class="fa fa-star"></i> tabs</a></li>
                                                </ul>
                                            </div>
                                            <!--grid column 3-->
                                            <div class="grid-col-3">
                                                <ul>
                                                    <li><a href="elements-team.html"><i class="fa fa-users"></i> team</a></li>
                                                    <li><a href="elements-typography.html"><i class="fa fa-italic"></i> typography</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>


                                <li><a href="contact-2.html">Reclamations</a></li>


                            </ul>

                        </div>
                    </div>
                </div>
            </section>
        </nav>
        <!-- menu end -->
    </div>
</header>

<!--=================================
 header -->


<!--=================================
 banner -->

<section class="inner-intro bg bg-fixed bg-overlay-black-60" style="background-image:url({{ asset('images/bg/inner-bg-1.jpg)') }} ">
    <div class="container">
        <div class="row intro-title text-center">
            <div class="col-sm-12">
                <div class="section-title"><h1 class="pos-r divider">profile <span class="sub-title">profile</span></h1></div>
            </div>
            <div class="col-sm-12 mt-70">
                <ul class="page-breadcrumb">
                    <li><a href="index-default.html"><i class="fa fa-home"></i> Home</a> <i class="fa fa-angle-double-right"></i></li>
                    <li><a href="profile.html">Profile</a> <i class="fa fa-angle-double-right"></i></li>
                    <li><span>Profile</span> </li>
                </ul>
            </div>
        </div>

    </div>
</section>


<!--=================================
 banner -->


<!--=================================
 Page Section -->

<section class="page-section-ptb profile-slider">
    <div class="container">
        <div class="row mb-50 xs-mb-30">
            <div class="col-sm-12 text-center">
                <h2 class="title divider">Profils compatibles</h2>
            </div>
        </div>
        <div class="row">

            <form action="{{ path('packChoix') }}" method="post" id="form_recherche">
                <div class="col-md-6 text-left">
                    <label>Recherche  </label>
                    <input type="text" class="Password" id="pseudo" name="pseudo" placeholder="Pseudo" required="required" />
                </div>

            </form>

            {% for profile in Profil %}
                <form  method="POST"  action="{{ path('SupprimerMesAmis',{'id':profile.id}) }}">
                    <div class="col-sm-3 xs-mb-30">
                        <a href="profile-details.html" class="profile-item">
                            <div class="profile-image clearfix"><img class="img-responsive" src="{{ asset('images/profile/02.jpg') }}" > </div>
                            <div class="profile-details profile-text">
                                <h5 class="title">{{ profile.username }}</h5>
                                <span class="text-black">membre dans MySoulmate</span>
                            </div>
                        </a>
                        <input type="submit" value="Supprimer de mes amis" class="awe-btn awe-btn-13">
                    </div>
                </form>

            {% endfor %}
        </div>
    </div>
</section>














<!--=================================
footer -->

<footer class="page-section-pt text-white text-center" style="background: url({{ asset('images/pattern/04.png') }}) no-repeat 0 0; background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="row mb-50">
                    <div class="col-sm-12">
                        <h2 class="title divider mb-30">Contact Us</h2>
                        <p class="lead"> </p>
                    </div>
                </div>
                <div class="row mb-50">
                    <div class="col-sm-4">
                        <div class="address-block">
                            <i class="fa fa-desktop" aria-hidden="true"></i>
                            <a href="mailto:somemail@mail.com">FreeMinds@esprit.tn</a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="address-block">
                            <i class="fa fa-home" aria-hidden="true"></i>
                            <address>
                                Esprit<br>
                                El ghazela
                            </address>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="address-block">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <a href="tel:+000123456789">+216 56 042 044</a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="footer-widget mt-50">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <div class="footer-logo mb-20">
                        <img class="img-center" src="{{ asset('images/footer-logo.png') }}" alt="">
                    </div>

                    <div class="social-icons color-hover mb-10">
                        <ul>
                            <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li class="social-dribbble"><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li class="social-gplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li class="social-youtube"><a href="#"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                    </div>

                    <p class="text-white">© 2017  - Cupid Love All Right Reserved </p>
                </div>
            </div>
        </div></div>

</footer>

<!--=================================
footer -->

<!--=================================
Color Customizer -->
<div class="style-customizer closed">
    <div class="buy-button"> <a class="opener" href="#"><i class="fa fa-cog fa-spin"></i></a>  </div>
    <div class="clearfix content-chooser">
        <div class="section-title"><h4 class="title">Color Schemes</h4></div>
        <p>Which theme color you want to use? Here are some predefined colors.</p>
        <ul class="styleChange clearfix">
            <li class="skin-default selected" title="Default" data-style="skin-default" ></li>
            <li class="skin-tomato" title="tomato" data-style="skin-tomato"></li>
            <li class="skin-ruby" title="ruby" data-style="skin-ruby" ></li>
            <li class="skin-pelorous" title="pelorous" data-style="skin-pelorous"></li>
            <li class="skin-cranberry" title="cranberry" data-style="skin-cranberry"></li>
            <li class="skin-golden-sand" title="golden-sand" data-style="skin-golden-sand"></li>
            <li class="skin-deep-cerise" title="deep-cerise" data-style="skin-deep-cerise"></li>
            <li class="skin-la-rioja" title="la-rioja" data-style="skin-la-rioja"></li>
            <li class="skin-summer-sky" title="summer-sky" data-style="skin-summer-sky"></li>
            <li class="skin-amaranth" title="amaranth" data-style="skin-amaranth"></li>
            <li class="skin-light-tomato" title="light-tomato" data-style="skin-light-tomato"></li>
            <li class="skin-pacific-blue" title="pacific-blue" data-style="skin-pacific-blue"></li>
        </ul>
    </div>
</div>

<div id="back-to-top"><a class="top arrow" href="#top"><i class="fa fa-level-up"></i></a></div>

<!--=================================
 jquery -->


<!-- jquery  -->
<script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script>

<!-- bootstrap -->
<script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>

<!-- appear -->
<script type="text/javascript" src="{{ asset('js/jquery.appear.js') }}"></script>

<!-- Menu -->
<script type="text/javascript" src="{{ asset('js/mega-menu/mega_menu.js') }}"></script>

<!-- owl-carousel -->
<script type="text/javascript" src="{{ asset('js/owl-carousel/owl.carousel.min.js') }}"></script>

<!-- style customizer  -->
<script type="text/javascript" src="{{ asset('js/style-customizer.js') }}"></script>

<!-- custom -->
<script type="text/javascript" src="{{ asset('js/custom.js') }}"></script>



<script>



    $(document).ready(function() {


        $("#form_recherche").keyup(function(){

            var pseudo =$("#pseudo").val();

            var image = '{{ asset('images1/wedding/ian_kelsey/600x600/') }}';

            $.ajax({
                url : "{{ path('packChoix') }}",
                type : "POST", // Le type de la requête HTTP, ici devenu POST
                data : {'pseudo':pseudo}, // On fait passer nos variables, exactement comme en GET, au script more_com.php

                success : function(data){ // code_html contient le HTML renvoyé
                    console.log(data);
                    $("#aja").html("  <div class='row text-center' id = 'res'>" +
                        "<div class='col-md-4 gla_round_block'  >"+
                        "<form  method='POST'>"+
                        "<div class='gla_round_im gla_image_bck' data-image='' >"+
                        "<img>"+
                        "<h3>          </h3>"+
                        "<p>          </p>"+
                        "</div>"+
                        "</form>"+
                        "</div>"+
                        "</div>");
                    $.each(data,function (res,el) {

                        $("#f").hide();



                        $("#res").append(
                            "<div " +
                            "class='col-md-4 gla_round_block'  >"+
                            "<form  method='POST' action=''>"+
                            "<div class='gla_round_im gla_image_bck' data-image= '"+image+""+el.image+ "'>"+
                            "<img src='"+image+""+el.image+ "'>"+
                            "<h3>" +el.idpack+ "</h3>"+
                            "<p>"+el.prixpack+"</p>"+

                            "</div>"+
                            "<input type='submit' value='ajouter' class='awe-btn awe-btn-13'>"+
                            "</form>"+
                            "</div>"
                        );

                    });


                },

                error : function(){
                    alert('La requête n\'a pas abouti');
                }
            });

        });
    });


</script>

</body>

<!-- Mirrored from themes.potenzaglobalsolutions.com/html/cupid-love-dating-website-html5-template/profile.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 25 Jan 2018 10:35:41 GMT -->
</html>