{% extends '::base2.html.twig' %}





{% block body %}

    <!DOCTYPE html>
    <html lang="en">

    <body>

    <div class="gla_page_title gla_image_bck gla_wht_txt" data-color="#282828">



        <div class="container text-left">
            <div class="row">

                <div class="col-md-8">
                    <h1 class="gla_h1_title">Nos Packs</h1>

                </div>

                <div class="col-md-4">
                    <div class="breadcrumbs">
                        <a href="#">Home</a><a href="#">Shop</a><span>Shop Category</span>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Content -->
    <section id="gla_content" class="gla_content">





        <!-- section -->
        <section class="gla_section">
            <div class="container">


                <div class="gla_shop_header">
                    <div class="row">

                        <form action="{{ path('packChoix') }}" method="post" id="form_recherche">
                            <div class="col-md-6 text-left">
                                <label>Recherche Par Budget</label>
                                <input type="text" class="Password" id="budget" name="budget" placeholder="Votre Budget" required="required" />
                            </div>

                        </form>


                        <form action="{{ path('packChoix') }}" method="post" id="form_recherche_pays">
                            <div class="col-md-6 text-left">
                                <label>Recherche Par Region </label>
                                <input type="text" class="Password" id="pays" name="pays" placeholder="Region ex:Tunis" required="required" />
                            </div>

                        </form>

                    </div>
                </div>

                <div class="container text-center">
                    <p><img src="{{ asset('images1/animations/ourwedding_gold_wh.gif') }}" height="100" alt=""></p>

                    <div class="row text-center" id = "aja">

                        {% for Pack in Pack %}
                            <div class="col-md-4 gla_round_block"  >
                                <form  method="POST"  action="{{ path('AjouterMesPack',{'idPack':Pack.idpack})  }}" id ="f">

                                    <div class="gla_round_im gla_image_bck" data-image="{{ asset('images1/wedding/ian_kelsey/600x600/') }}{{ Pack.image }}"></div>
                                    <h3>{{ Pack.idpack  }}</h3>
                                    <p>{{ Pack.idpack }}<br>
                                        fer9et boudinar chanteur<br>
                                        Menu : Entrée , 3ché , Dessert<br>
                                        Bouquet qualitée metwasta<br>
                                        {{ Pack.prixpack }} </p>
                                    <input type="submit" value="ajouter" class="awe-btn awe-btn-13">

                                </form>
                            </div>
                        {% endfor %}

                    </div>


                </div>
                <!-- row end -->

                <div class="navigation">
                    {{ knp_pagination_render(Pack) }}
                </div>

            </div>
            <!-- container end -->
        </section>
        <!-- section end -->



    </section>
    <script src="{{ asset('js1/jquery-1.12.4.min.js') }}"></script>
    <!-- JQuery -->
    <script src="{{ asset('js1/glanz_library.js') }}"></script>

    <!-- Theme JS -->
    <script src="{{ asset('js1/glanz_script.js') }}"></script>





    </body>
    <script>

        $(document).ready(function() {


            $("#form_recherche").keyup(function(){

                var budget =$("#budget").val();

                var image = '{{ asset('images1/wedding/ian_kelsey/600x600/') }}';

                $.ajax({
                    url : "{{ path('packChoix') }}",
                    type : "POST", // Le type de la requête HTTP, ici devenu POST
                    data : {'budget':budget}, // On fait passer nos variables, exactement comme en GET, au script more_com.php

                    success : function(data){ // code_html contient le HTML renvoyé
                        console.log(data);
                        $("#aja").html("  <div class='row text-center' id = 'res'>" +
                            "<div class='col-md-4 gla_round_block'  >"+
                            "<form  method='POST'>"+
                            "<div class='gla_round_im gla_image_bck' data-image='' >"+
                            "<img>"+
                            "<h3>          </h3>"+
                            "<p>          </p>"+
                            "</div>"+
                            "</form>"+
                            "</div>"+
                            "</div>");
                        $.each(data,function (res,el) {

                            $("#f").hide();



                            $("#res").append(
                                "<div " +
                                "class='col-md-4 gla_round_block'  >"+
                                "<form  method='POST' action=''>"+
                                "<div class='gla_round_im gla_image_bck' data-image= '"+image+""+el.image+ "'>"+
                                "<img src='"+image+""+el.image+ "'>"+
                                "<h3>" +el.idpack+ "</h3>"+
                                "<p>"+el.prixpack+"</p>"+

                                "</div>"+
                                "<input type='submit' value='ajouter' class='awe-btn awe-btn-13'>"+
                                "</form>"+
                                "</div>"
                            );

                        });


                    },

                    error : function(){
                        alert('La requête n\'a pas abouti');
                    }
                });

            });



            $("#form_recherche_pays").keyup(function(){

                var pays =$("#pays").val();
                var image = '{{ asset('images1/wedding/ian_kelsey/600x600/') }}';
                $.ajax({
                    url : "{{ path('packChoix_pays') }}",
                    type : "POST", // Le type de la requête HTTP, ici devenu POST
                    data : {'pays':pays}, // On fait passer nos variables, exactement comme en GET, au script more_com.php


                    success : function(data){ // code_html contient le HTML renvoyé
                        console.log(data);
                        $("#aja").html("  <div class='row text-center' id = 'res'>" +
                            "<div class='col-md-4 gla_round_block'  >"+
                            "<form  method='POST'>"+
                            "<div class='gla_round_im gla_image_bck' data-image='' >"+
                            "<img>"+
                            "<h3>          </h3>"+
                            "<p>          </p>"+
                            "</div>"+
                            "</form>"+
                            "</div>"+
                            "</div>");
                        $.each(data,function (res,el) {

                            $("#f").hide();


                            $("#res").append(
                                "<div class='col-md-4 gla_round_block'  >"+
                                "<form  method='POST'>"+
                                "<div class='gla_round_im gla_image_bck' data-image= '"+image+""+el[1]+ "'>"+
                                "<img src='"+image+""+el[1]+ "'>"+
                                "<h3>" +el.idpack+ "</h3>"+
                                "<p>"+el.prixpack+"</p>"+

                                "</div>"+
                                "</form>"+
                                "</div>");

                        });


                    },

                    error : function(){
                        alert('La requête n\'a pas abouti');
                    }
                });

            });

        });
    </script>

    </html>



{% endblock %}