
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from themes.potenzaglobalsolutions.com/html/cupid-love-dating-website-html5-template/step.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 25 Jan 2018 10:38:55 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Cupid Love - Dating HTML5 Template" />
    <meta name="author" content="potenzaglobalsolutions.com" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Free Minds</title>

    <link rel="shortcut icon" href="{{ asset('images/favicon.ico') }}" />

    <!-- bootstrap -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />

    <!-- mega menu -->
    <link href="{{ asset('css/mega-menu/mega_menu.css') }}" rel="stylesheet" type="text/css" />

    <!-- font-awesome -->
    <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />

    <!-- Flaticon -->
    <link href="{{ asset('css/flaticon.css') }}" rel="stylesheet" type="text/css" />

    <!-- General style -->
    <link href="{{ asset('css/general.css') }}" rel="stylesheet" type="text/css" />

    <!-- main style -->
    <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css" />




    <!-- Style customizer -->
    <link rel="stylesheet" type="text/css" href="#" data-style="styles" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style-customizer.css') }}" />

</head>


<body>




<header id="header" class="dark">
    <div class="topbar">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="topbar-left text-left">
                        <ul class="list-inline">
                            <li><a href="mailto:support@website.com"><i class="fa fa-envelope-o"> </i> Freeminds@gmail.com </a></li>
                            <li><a href="tel:(007)1234567890"><i class="fa fa-phone"></i> (216) 56 042 044 </a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="topbar-right text-right">
                        <ul class="list-inline social-icons color-hover">
                            <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li class="social-instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li class="social-dribbble"><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        </ul>
                        <ul class="list-inline text-uppercase top-menu">
                            <li><a href="{{ path('fos_user_registration_register') }}">Inscription</a></li>
                            <li><a href="{{ path('fos_user_security_login') }}">Se Connecter</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--=================================
     mega menu -->

    <div class="menu">
        <!-- menu start -->
        <nav id="menu" class="mega-menu">
            <!-- menu list items container -->
            <section class="menu-list-items">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <!-- menu logo -->
                            <ul class="menu-logo">
                                <li>
                                    <a href="index-default.html"><img src="{{ asset('images/logo.png') }}" alt="logo"> </a>
                                </li>
                            </ul>
                            <!-- menu links -->
                            <ul class="menu-links">
                                <!-- active class -->


                                <li><a href="index-default.html">Accueil</a></li>



                                <li><a href="profile.html">Tous les utilisateurs </a></li>



                                <li><a href="stories.html">Nos success story</a></li>



                                <li><a href="javascript:void(0)"> Pages <i class="fa fa-angle-down fa-indicator"></i></a>
                                    <!-- drop down full width -->
                                    <div class="drop-down grid-col-12">
                                        <!--grid row-->
                                        <div class="grid-row">
                                            <!--grid column 3-->
                                            <div class="grid-col-3">
                                                <ul>
                                                    <li><a href="about-1.html">About 01</a></li>
                                                    <li><a href="about-2.html"> About 02 </a></li>
                                                    <li><a href="team-1.html"> Team 01</a></li>
                                                    <li><a href="team-2.html"> Team 02</a></li>
                                                    <li><a href="team-single.html"> Team Single</a></li>
                                                </ul>
                                            </div>
                                            <!--grid column 3-->
                                            <div class="grid-col-3">
                                                <ul>
                                                    <li><a href="faqs-1.html"> Faqs 01</a></li>
                                                    <li><a href="faqs-2.html"> Faqs 02</a></li>
                                                    <li><a href="contact-1.html"> Contact 01</a></li>
                                                    <li><a href="contact-2.html"> Contact 02</a></li>
                                                    <li><a href="contact-3.html"> Contact 03</a></li>
                                                </ul>
                                            </div>
                                            <!--grid column 3-->

                                            <!--grid column 3-->
                                            <div class="grid-col-3">
                                                <ul>
                                                    <li><a href="error-404.html"> 404 Error </a></li>
                                                    <li><a href="coming-soon.html">Coming Soon </a></li>
                                                    <li><a href="terms-conditions.html"> Terms Conditions</a></li>
                                                    <li><a href="privacy-policy.html"> Privacy Policy</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>




                                <li><a href="blog-masonry-fullwidth.html">Blog</a></li>

                                <li><a href="javascript:void(0)"> Shortcodes <i class="fa fa-angle-down fa-indicator"></i></a>
                                    <!-- drop down full width -->
                                    <div class="drop-down grid-col-12">
                                        <!--grid row-->
                                        <div class="grid-row">
                                            <!--grid column 3-->
                                            <div class="grid-col-3">
                                                <ul>
                                                    <li><a href="elements-accordions.html"><i class="fa fa-list-ul"></i> accordions </a></li>
                                                    <li><a href="elements-action-box.html"><i class="fa fa-rocket"></i> action box</a></li>
                                                    <li><a href="elements-alerts-and-callouts.html"><i class="fa fa-info-circle"></i> alerts and callouts</a></li>
                                                    <li><a href="elements-buttons.html"><i class="fa fa-external-link"></i> buttons</a></li>
                                                    <li><a href="elements-carousel-slider.html"><i class="fa fa-exchange"></i> carousel slider</a></li>
                                                </ul>
                                            </div>
                                            <!--grid column 3-->
                                            <div class="grid-col-3">
                                                <ul>
                                                    <li><a href="elements-columns.html"><i class="fa fa-th"></i> columns</a></li>
                                                    <li><a href="elements-content-box.html"><i class="fa fa-file-text-o"></i> content box</a></li>
                                                    <li><a href="elements-counter.html"><i class="fa fa-sort-numeric-asc"></i> counter</a></li>
                                                    <li><a href="elements-data-table.html"><i class="fa fa-table"></i> data table</a></li>
                                                    <li><a href="elements-lists-style.html"><i class="fa fa-th-list"></i> lists style</a></li>
                                                </ul>
                                            </div>
                                            <!--grid column 3-->
                                            <div class="grid-col-3">
                                                <ul>
                                                    <li><a href="elements-post-style.html"> <i class="fa fa-photo"></i> post style</a></li>
                                                    <li><a href="elements-timeline.html"><i class="fa fa-tasks"></i>Timeline</a></li>
                                                    <li><a href="elements-social-icon.html"><i class="fa fa-share-alt"></i> social icon</a></li>
                                                    <li><a href="elements-testimonial.html"><i class="fa fa-quote-left"></i> testimonial</a></li>
                                                    <li><a href="elements-tabs.html"><i class="fa fa-star"></i> tabs</a></li>
                                                </ul>
                                            </div>
                                            <!--grid column 3-->
                                            <div class="grid-col-3">
                                                <ul>
                                                    <li><a href="elements-team.html"><i class="fa fa-users"></i> team</a></li>
                                                    <li><a href="elements-typography.html"><i class="fa fa-italic"></i> typography</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>


                                <li><a href="contact-2.html">Reclamations</a></li>


                            </ul>

                        </div>
                    </div>
                </div>
            </section>
        </nav>
        <!-- menu end -->
    </div>
</header>

<!--=================================
 inner-intro-->

<section class="inner-intro bg bg-fixed bg-overlay-black-60" style="background-image:url({{ asset('images/bg/inner-bg-1.jpg') }});">
    <div class="container">
        <div class="row intro-title text-center">
            <div class="col-sm-12">
                <div class="section-title"><h1 class="pos-r divider">step 1 <span class="sub-title">step 1</span></h1></div>
            </div>
            <div class="col-sm-12 mt-70">
                <ul class="page-breadcrumb">
                    <li><a href="index-default.html"><i class="fa fa-home"></i> Home</a> <i class="fa fa-angle-double-right"></i></li>
                    <li><a href="step.html">Pages</a> <i class="fa fa-angle-double-right"></i></li>
                    <li><span>Step</span> </li>
                </ul>
            </div>
        </div>

    </div>
</section>

<!--=================================
 inner-intro-->


<!--=================================
 login-->





<section class="login-form login-img dark-bg page-section-ptb100 pb-70" style="background: url({{ asset('images/pattern/04.png') }}) no-repeat 0 0; background-size: cover;">

    <div class="container">
        <form  method="post">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="login-1-form clearfix text-center">
                        <h4 class="title divider-3 text-white">SIGN IN</h4>
                        <div class="login-1-social mt-50 mb-50 text-center clearfix">
                            <ul class="list-inline text-capitalize">
                                <li><a class="fb" href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
                                <li><a class="gplus" href="#"><i class="fa fa-google-plus"></i>  google+</a></li>
                            </ul>
                        </div>


                        <div class="form-group">

                            <label class="title divider-3 mb-30">intéresse par </label>

                            <div class="col-sm-4">


                                <div class="radio">
                                    <input name="reponse1" checked="checked" id="radio3" type="radio"value="femme">
                                    <label for="radio3">female</label>
                                </div>
                            </div>


                            <div class="col-sm-4">
                                <div class="radio">
                                    <input name="reponse1" id="radio4" type="radio" value="homme">
                                    <label for="radio4">male</label>
                                </div>
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="title divider-3 mb-30">Fumeur </label>

                            <div class="col-sm-4">
                                <div class="radio">
                                    <input name="reponse2" checked="checked" id="radio5" type="radio"value="oui">
                                    <label for="radio5">Oui</label>
                                </div>
                            </div>


                            <div class="col-sm-4">
                                <div class="radio">
                                    <input name="reponse2" id="radio6" type="radio" value="non">
                                    <label for="radio6">Non</label>
                                </div>
                            </div>

                        </div>



                        <div class="form-group">

                            <label class="title divider-3 mb-30">Alcool </label>

                            <div class="col-sm-4">
                                <div class="radio">
                                    <input name="reponse3" checked="checked" id="radio7" type="radio"value="oui">
                                    <label for="radio7">Oui</label>
                                </div>
                            </div>


                            <div class="col-sm-4">
                                <div class="radio">
                                    <input name="reponse3" id="radio8" type="radio" value="non">
                                    <label for="radio8">Non</label>
                                </div>

                            </div>

                        </div>

                        <div class="form-group">

                            <label class="title divider-3 mb-30">Vous viviez seul ? </label>

                            <div class="col-sm-4">


                                <div class="radio">
                                    <input name="reponse4" checked="checked" id="radio9" type="radio"value="oui">
                                    <label for="radio9">oui</label>
                                </div>
                            </div>


                            <div class="col-sm-4">
                                <div class="radio">
                                    <input name="reponse4" id="radio10" type="radio" value="non">
                                    <label for="radio10">non</label>
                                </div>
                            </div>

                        </div>



                        <div class="form-group">

                            <label class="title divider-3 mb-30"> Anmial domestique ? </label>

                            <div class="col-sm-4">


                                <div class="radio">
                                    <input name="reponse5" checked="checked" id="radio11" type="radio"value="oui">
                                    <label for="radio11">oui</label>
                                </div>
                            </div>


                            <div class="col-sm-4">
                                <div class="radio">
                                    <input name="reponse5" id="radio12" type="radio" value="non">
                                    <label for="radio12">non</label>
                                </div>
                            </div>

                        </div>


                        <div class="form-group">

                            <label class="title divider-3 mb-30"> Vous préférez ?  </label>

                            <div class="col-sm-4">


                                <div class="radio">
                                    <input name="reponse6" checked="checked" id="radio13" type="radio"value="film">
                                    <label for="radio13">film</label>
                                </div>
                            </div>


                            <div class="col-sm-4">
                                <div class="radio">
                                    <input name="reponse6" id="radio14" type="radio" value="série">
                                    <label for="radio14">série</label>
                                </div>
                            </div>

                        </div>




                        <input type="submit" id="_submit" name="_submit" value="Envoyer" class="button  btn-lg btn-theme full-rounded animated right-icn" />



                        <div class="section-field mt-20 text-center text-white">
                            <p class="lead mb-0">Don’t have an account? <a class="text-white" href="register.html"><u>Register now!</u> </a></p>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>

</section>





<!--=================================
 login-->



<!--=================================
footer -->

<footer class="text-white text-center">
    <div class="footer-widget">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <div class="footer-logo mb-20">
                        <img class="img-center" src="images/footer-logo.png" alt="">
                    </div>

                    <div class="social-icons color-hover mb-10">
                        <ul>
                            <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li class="social-dribbble"><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li class="social-gplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li class="social-youtube"><a href="#"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                    </div>

                    <p class="text-white">© 2017  - Cupid Love All Right Reserved </p>
                </div>
            </div>
        </div></div>

</footer>

<!--=================================
footer -->

<!--=================================
Color Customizer -->
<div class="style-customizer closed">
    <div class="buy-button"> <a class="opener" href="#"><i class="fa fa-cog fa-spin"></i></a>  </div>
    <div class="clearfix content-chooser">
        <div class="section-title"><h4 class="title">Color Schemes</h4></div>
        <p>Which theme color you want to use? Here are some predefined colors.</p>
        <ul class="styleChange clearfix">
            <li class="skin-default selected" title="Default" data-style="skin-default" ></li>
            <li class="skin-tomato" title="tomato" data-style="skin-tomato"></li>
            <li class="skin-ruby" title="ruby" data-style="skin-ruby" ></li>
            <li class="skin-pelorous" title="pelorous" data-style="skin-pelorous"></li>
            <li class="skin-cranberry" title="cranberry" data-style="skin-cranberry"></li>
            <li class="skin-golden-sand" title="golden-sand" data-style="skin-golden-sand"></li>
            <li class="skin-deep-cerise" title="deep-cerise" data-style="skin-deep-cerise"></li>
            <li class="skin-la-rioja" title="la-rioja" data-style="skin-la-rioja"></li>
            <li class="skin-summer-sky" title="summer-sky" data-style="skin-summer-sky"></li>
            <li class="skin-amaranth" title="amaranth" data-style="skin-amaranth"></li>
            <li class="skin-light-tomato" title="light-tomato" data-style="skin-light-tomato"></li>
            <li class="skin-pacific-blue" title="pacific-blue" data-style="skin-pacific-blue"></li>
        </ul>
        <ul class="resetAll clearfix">
            <li><a target="_blank" class="button" href="#"><span>Purchase Now</span></a></li>
            <li><a class="button-reset button" href="#"><span>Reset All</span></a></li>
        </ul>
    </div>
</div>

<div id="back-to-top"><a class="top arrow" href="#top"><i class="fa fa-level-up"></i></a></div>

<!--=================================
 jquery -->

<!-- jquery  -->
<script type="text/javascript" src="js/jquery.min.js"></script>

<!-- bootstrap -->
<script type="text/javascript" src="js/bootstrap.min.js"></script>

<!-- appear -->
<script type="text/javascript" src="js/jquery.appear.js"></script>

<!-- Menu -->
<script type="text/javascript" src="js/mega-menu/mega_menu.js"></script>

<!-- style customizer  -->
<script type="text/javascript" src="js/style-customizer.js"></script>

<!-- custom -->
<script type="text/javascript" src="js/custom.js"></script>

</body>

<!-- Mirrored from themes.potenzaglobalsolutions.com/html/cupid-love-dating-website-html5-template/step.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 25 Jan 2018 10:38:59 GMT -->
</html>
