{% extends '::base.html.twig' %}
{% block body %}






    <section class="page-section-ptb pb-30 xs-pb-60 story-slider"><div class="container">
        <section class="row mb-50 xs-mb-30">
            <div class="col-lg-4 col-md-4 col-sm-6 xs-mb-30">
                <div class="story-item">
                    <div class="story-image clearfix"><img class="img-responsive" src="{{ asset('images/') }}{{ story.image }}" alt="">

                    </div>

                    <div class="story-details text-center">
                        <h5 class="title divider-3">{{ story.titre }}</h5>
                        <div class="about-des mt-30">{{ story.description }}</div>
                    </div>
                </div>
            </div>

        </section>








<form id="form_recherche" method="POST">

        <section class="page-section-ptb"><div class="container"><div class="row">
                    <div class="col-sm-12 mb-30 text-center"><h2 class="title divider">Commentaires</h2></div>
    {% for comm in commentaires  %}





                <div class="col-sm-12">
                    <div class="accordion icon">
                        <div class="acd-group"> <a href="#" class="acd-heading">{{ comm.id }}</a>
                            <div class="acd-des">{{ comm.description }}{% if comm.id==utilisateur %}
                                        <a href="{{ path('delete',{'id':comm.idcommentaire}) }}" >Supprimer</a>


                                    {% endif %}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>




    {% endfor %}

</form>

    {{ form_start(form) }}


    <h3 class="title"><b>Votre Commentaire</b></h3>



    <div class="col-sm-12">

        {{  form_widget(form.description) }}
                <div class="col-sm-12">

                    <a class="button  btn-lg btn-theme full-rounded animated right-icn"  onclick="saveData()" ><span>{{ form_widget(form.Commenter) }}<i class="glyph-icon flaticon-hearts" aria-hidden="false"></i></span></a>
                </div>
    </div>>





    {{ form_end(form) }}









        <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>

        <script src="{{ asset('js/jquery-1.12.4.min.js') }}"></script>


        <!-- JQuery -->


    <script>
        function saveData() {

            var com= $('{{  form_widget(form.description) }}');


                $.ajax({
                    type: "POST",
                    url: "{{ path('create') }}",
                    data: {'com': com},
                    success: function (data ) {
                        console.log(data);
                        $("#a").html("<table id='res' border='500'>" +
                            " <td><h3>commentaire</h3></td> ");
                        $.each(data, function (k, el) {
                            $("#affichage").hide();
                            $('#res').append(
                                "<tr>" +

                                "<td> <h5 class='entry-content'>" + el.description + "</h5> </td>"+
                                + "</tr>"+"</table>"
                            ) }

                        );
                    }

                });



        }

    </script>







    <div class="style-customizer closed">
        <div class="buy-button"> <a class="opener" href="#"><i class="fa fa-cog fa-spin"></i></a>  </div>
        <div class="clearfix content-chooser">
            <div class="section-title"><h4 class="title">Color Schemes</h4></div>
            <p>Which theme color you want to use? Here are some predefined colors.</p>
            <ul class="styleChange clearfix">
                <li class="skin-default selected" title="Default" data-style="skin-default" ></li>
                <li class="skin-tomato" title="tomato" data-style="skin-tomato"></li>
                <li class="skin-ruby" title="ruby" data-style="skin-ruby" ></li>
                <li class="skin-pelorous" title="pelorous" data-style="skin-pelorous"></li>
                <li class="skin-cranberry" title="cranberry" data-style="skin-cranberry"></li>
                <li class="skin-golden-sand" title="golden-sand" data-style="skin-golden-sand"></li>
                <li class="skin-deep-cerise" title="deep-cerise" data-style="skin-deep-cerise"></li>
                <li class="skin-la-rioja" title="la-rioja" data-style="skin-la-rioja"></li>
                <li class="skin-summer-sky" title="summer-sky" data-style="skin-summer-sky"></li>
                <li class="skin-amaranth" title="amaranth" data-style="skin-amaranth"></li>
                <li class="skin-light-tomato" title="light-tomato" data-style="skin-light-tomato"></li>
                <li class="skin-pacific-blue" title="pacific-blue" data-style="skin-pacific-blue"></li>
            </ul>
            <ul class="resetAll clearfix">
                <li><a target="_blank" class="button" href="#"><span>Purchase Now</span></a></li>
                <li><a class="button-reset button" href="#"><span>Reset All</span></a></li>
            </ul>
        </div>
    </div>


    <div id="back-to-top"><a class="top arrow" href="#top"><i class="fa fa-level-up"></i></a></div>

    <!--=================================
     jquery -->


    <!-- jquery  -->
    <script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script>

    <!-- bootstrap -->
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>

    <!-- mega menu -->
    <script type="text/javascript" src="{{ asset('js/mega-menu/mega_menu.js') }}"></script>

    <!-- style customizer  -->
    <script type="text/javascript" src="{{ asset('js/style-customizer.js') }}"></script>

    <!-- custom -->
    <script type="text/javascript" src="{{ asset('js/custom.js') }}"></script>











{% endblock %}