{% extends '::base.html.twig' %}
{% block body %}












        <section class="page-section-ptb pb-30 xs-pb-60 story-slider"><div class="container" id="f">
        <section class="row mb-50 xs-mb-30">
            <div class="col-lg-4 col-md-4 col-sm-6 xs-mb-30">
                <div class="story-item">

                    <div class="story-details text-center">
                        <div class="about-des mt-30"><img src="{{ asset('images/') }}{{ howas.image }}" width="300" height="200"></div>
                        <h5 class="title divider-3">{{ howas.lieu }}</h5>
                        <div class="about-des mt-30">{{ howas.date|date('Y-m-d') }}</div>
                        <div class="about-des mt-30">{{ howas.description }}</div>



                        <div class="about-des mt-30"><a  href="{{ path('participe',{'idevenement':howas.idevenement}) }}" >Confirmer</a></div>



                    </div>
                </div>
            </div>

        </section>









    <!-- jquery  -->
    <script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script>

    <!-- bootstrap -->
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap-select.min.js') }}"></script>

    <!-- appear -->
    <script type="text/javascript" src="{{ asset('js/jquery.appear.js') }}"></script>

    <!-- Menu -->
    <script type="text/javascript" src="{{ asset('js/mega-menu/mega_menu.js') }}"></script>

    <!-- owl-carousel -->
    <script type="text/javascript" src="{{ asset('js/owl-carousel/owl.carousel.min.js') }}"></script>

    <!-- counter -->
    <script type="text/javascript" src="{{ asset('js/counter/jquery.countTo.js') }}"></script>

    <!-- Magnific Popup -->
    <script type="text/javascript" src="{{ asset('js/magnific-popup/jquery.magnific-popup.min.js') }}"></script>

    <!-- style customizer  -->
    <script type="text/javascript" src="{{ asset('js/style-customizer.js') }}"></script>

    <!-- custom -->
    <script type="text/javascript" src="{{ asset('js/custom.js') }}"></script>



{% endblock %}