{% extends '::base.html.twig' %}

{% block body %}
    <!DOCTYPE html>
    <html lang="en">

    <!-- Mirrored from themes.potenzaglobalsolutions.com/html/cupid-love-dating-website-html5-template/index-default.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 25 Jan 2018 10:36:38 GMT -->


    <body>

    <!--=================================
     preloader -->


    <!--=================================
    header -->


    <!--=================================
     header -->

    <!--=================================
     banner -->
    <section id="home-slider" class="fullscreen">
        <div id="main-slider" class="carousel carousel-fade" data-ride="carousel">
            <!-- Carousel inner -->
            <div class="carousel-inner">
                <!--/ Carousel item end -->

                <div class="item bg-1 active" style="background: url({{ asset('images/bg/bg-1.jpg') }}) no-repeat 0 0; background-size: cover;" data-gradient-red="4">
                    <div class="slider-content">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 text-right">
                                    <div class="slider-1">
                                        <h1 class="animated2 text-white">Are You <span>Waiting</span> For <span> Dating ?</span></h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item bg-1" style="background: url({{ asset('images/bg/bg-2.jpg') }}) no-repeat 0 0; background-size: cover;" data-gradient-red="4">
                    <div class="slider-content">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 text-left">
                                    <div class="slider-2">
                                        <h1 class="animated7 text-white">Meet big <span> and </span> beautiful love <span> here!</span></h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item bg-1" style="background: url({{ asset('images/bg/bg-3.jpg') }}) no-repeat 0 0; background-size: cover;" data-gradient-red="4">
                    <div class="slider-content">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 text-left">
                                    <div class="slider-3">
                                        <h1 class="animated3 text-white">The Right <span>Place</span> to Meet Your <span> Soul Mate!</span></h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ Carousel item end -->
            </div>

        </div>
    </section>

    <!--=================================
     banner -->


    <!--=================================
     Page Section -->

    <section class="form-1 ptb-20">
        <div class="container">
            <div class="row">
                <div class="banner-form">
                    <form>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="col-md-4 col-sm-12 control-label text-white">I am a</label>
                                <div class="col-md-8 col-sm-12">
                                    <select class="selectpicker">
                                        <option>Man</option>
                                        <option>Woman</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="col-md-5 col-sm-12 control-label text-white">Seeking a</label>
                                <div class="col-md-7 col-sm-12">
                                    <select class="selectpicker">
                                        <option>Man</option>
                                        <option>Woman</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="col-sm-7 col-xs-6">
                                    <div class="form-group">
                                        <label class="col-md-2 col-sm-12 control-label text-white">From</label>
                                        <div class="col-md-10 col-sm-12">
                                            <select class="selectpicker">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                                <option>6</option>
                                                <option>7</option>
                                                <option>8</option>
                                                <option>9</option>
                                                <option>10</option>
                                                <option>11</option>
                                                <option>12</option>
                                                <option>13</option>
                                                <option>14</option>
                                                <option>15</option>
                                                <option>16</option>
                                                <option>17</option>
                                                <option>18</option>
                                                <option>19</option>
                                                <option>20</option>
                                                <option>21</option>
                                                <option>22</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-5 col-xs-6">
                                    <div class="form-group">
                                        <label class="col-md-2 col-sm-12 control-label text-white pl-0">To</label>
                                        <div class="col-md-10 col-sm-12">
                                            <select class="selectpicker">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                                <option>6</option>
                                                <option>7</option>
                                                <option>8</option>
                                                <option>9</option>
                                                <option>10</option>
                                                <option>11</option>
                                                <option>12</option>
                                                <option>13</option>
                                                <option>14</option>
                                                <option>15</option>
                                                <option>16</option>
                                                <option>17</option>
                                                <option>18</option>
                                                <option>19</option>
                                                <option>20</option>
                                                <option>21</option>
                                                <option>22</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-2"><a class="button btn-lg btn-theme full-rounded animated right-icn"><span>search <i class="glyph-icon flaticon-hearts" aria-hidden="true"></i></span></a></div>
                    </form>
                </div>
            </div>
        </div>
    </section>


    <section class="page-section-ptb pos-r timeline-section">
        <div class="container">
            <div class="row mb-50 xs-mb-30">
                <div class="col-md-offset-1 col-md-10 text-center">
                    <h2 class="title divider mb-30">Step to find your Soul Mate</h2>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed <br>do eiusmod tempor incididunt ut labore et dolore magna</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-offset-1 col-lg-10 col-md-12">
                    <ul class="timeline list-inline">
                        <li>
                            <div class="timeline-badge"><img class="img-responsive" src="{{ asset('images/timeline/01.png') }}" alt=""></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading text-center">
                                    <h4 class="timeline-title divider-3">CREATE PROFILE</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  enim ad minim veniam, quis</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-badge"><img class="img-responsive" src="{{ asset('images/timeline/02.png') }}" alt=""></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading text-center">
                                    <h4 class="timeline-title divider-3">Find match</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  enim ad minim veniam, quis</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-badge"><img class="img-responsive" src="{{ asset('images/timeline/03.png') }}" alt=""></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading text-center">
                                    <h4 class="timeline-title divider-3">START DATING</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  enim ad minim veniam, quis</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div></div>

    </section>



    <section class="ptb-50 action-box-img bg text-center text-white bg-overlay-black-80" style="background-image:url({{ asset('images/bg/bg-4.jpg') }})">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h5 class="pb-20">Vous êtes en couple et vous voulez planifier votre mariage ? </h5>
                    <a class="button  btn-lg btn-theme full-rounded animated right-icn" Action ="{{ path('packChoix') }}"><span>Planifiez votre mariage <i class="glyph-icon flaticon-hearts" aria-hidden="true"></i></span></a>
                </div>
            </div>

        </div>


    </section>






    <section class="page-section-ptb  text-white" style="background: url({{ asset('images/pattern/02.png') }}) no-repeat 0 0; background-size: cover;">
        <div class="container">
            <div class="row mb-50 xs-mb-30">
                <div class="col-md-offset-1 col-md-10 text-center">
                    <h2 class="title divider">Animated Fun Facts</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-3 col-xs-6 col-xx-12 text-center">
                    <div class="counter">
                        <img src="{{ asset('images/counter/01.png') }}" alt="">
                        <span class="timer" data-to="1600" data-speed="10000">1600</span><label>Total Members</label>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 col-xs-6 col-xx-12 text-center">
                    <div class="counter">
                        <img src="{{ asset('images/counter/02.png') }}" alt="">
                        <span class="timer" data-to="750" data-speed="10000">750</span><label>Online Members</label>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 col-xs-6 col-xx-12 text-center">
                    <div class="counter">
                        <img src="{{ asset('images/counter/03.png') }}" alt="">
                        <span class="timer" data-to="380" data-speed="10000">380</span><label>Men Online</label>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 col-xs-6 col-xx-12 text-center">
                    <div class="counter">
                        <img src="{{ asset('images/counter/04.png') }}" alt="">
                        <span class="timer" data-to="370" data-speed="10000">370</span><label>Women Online</label>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="page-section-ptb profile-slider pb-30 xs-pb-60">
        <div class="container">
            <div class="row mb-20 xs-mb-0">
                <div class="col-md-offset-1 col-md-10 text-center">
                    <h2 class="title divider">Last Added Profiles</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="owl-carousel" data-nav-arrow="true" data-items="4" data-md-items="4" data-sm-items="3" data-xs-items="2" data-xx-items="1" data-space="30">
                        <div class="item">
                            <a href="profile-details.html" class="profile-item">
                                <div class="profile-image clearfix"><img class="img-responsive" src="{{ asset('images/profile/01.jpg') }}" alt=""></div>
                                <div class="profile-details text-center">
                                    <h5 class="title">Bill Nelson</h5>
                                    <span>23 Years Old</span>
                                </div>
                            </a>
                        </div>

                        <div class="item">
                            <a href="profile-details.html" class="profile-item">
                                <div class="profile-image clearfix"><img class="img-responsive" src="{{ asset('images/profile/02.jpg') }}" alt=""></div>
                                <div class="profile-details text-center">
                                    <h5 class="title">Francisco Pierce</h5>
                                    <span>21 Years Old</span>
                                </div>
                            </a>
                        </div>

                        <div class="item">
                            <a href="profile-details.html" class="profile-item">
                                <div class="profile-image clearfix"><img class="img-responsive" src="{{ asset('images/profile/03.jpg') }}" alt=""></div>
                                <div class="profile-details text-center">
                                    <h5 class="title">Nelle Townsend</h5>
                                    <span>19 Years Old</span>
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="profile-details.html" class="profile-item">
                                <div class="profile-image clearfix"><img class="img-responsive" src="{{ asset('images/profile/04.jpg') }}" alt=""></div>
                                <div class="profile-details text-center">
                                    <h5 class="title">Glen Bell</h5>
                                    <span>20 Years Old</span>
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="profile-details.html" class="profile-item">
                                <div class="profile-image clearfix"><img class="img-responsive" src="{{ asset('images/profile/05.jpg') }}" alt=""></div>
                                <div class="profile-details text-center">
                                    <h5 class="title">Bill Nelson</h5>
                                    <span>22 Years Old</span>
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="profile-details.html" class="profile-item">
                                <div class="profile-image clearfix"><img class="img-responsive" src="{{ asset('images/profile/06.jpg') }}" alt=""></div>
                                <div class="profile-details text-center">
                                    <h5 class="title">Francisco Pierce</h5>
                                    <span>23 Years Old</span>
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="profile-details.html" class="profile-item">
                                <div class="profile-image clearfix"><img class="img-responsive" src="{{ asset('images/profile/07.jpg') }}" alt=""></div>
                                <div class="profile-details text-center">
                                    <h5 class="title">Nelle Townsend</h5>
                                    <span>19 Years Old</span>
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="profile-details.html" class="profile-item">
                                <div class="profile-image clearfix"><img class="img-responsive" src="{{ asset('images/profile/08.jpg') }}" alt=""></div>
                                <div class="profile-details text-center">
                                    <h5 class="title">Glen Bell</h5>
                                    <span>22 Years Old</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="page-section-ptb grey-bg story-slider">
        <div class="container">
            <div class="row mb-20 xs-mb-0">
                <div class="col-md-offset-1 col-md-10 text-center">
                    <h2 class="title divider">They Found True Love</h2>
                </div>
            </div>
        </div>
        <div class="owl-carousel" data-nav-dots="true" data-items="5" data-md-items="4" data-sm-items="3" data-xs-items="2" data-xx-items="1" data-space="30">
            <div class="item">
                <div class="story-item">
                    <div class="story-image clearfix"><img class="img-responsive" src="{{ asset('images/story/01.jpg') }}" alt="">
                        <div class="story-link"><a href="stories-details.html"><i class="glyph-icon flaticon-add"></i></a></div>
                    </div>
                    <div class="story-details text-center">
                        <h5 class="title divider-3">Quinnel & Jonet</h5>
                        <div class="about-des mt-30">Cras ultricies ligula sed magna dictum porta. Quisque velit nisi, pretium ut lacinia in</div>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="story-item">
                    <div class="story-image clearfix"><img class="img-responsive" src="{{ asset('images/story/02.jpg') }}" alt="">
                        <div class="story-link"><a href="stories-details.html"><i class="glyph-icon flaticon-add"></i></a></div></div>
                    <div class="story-details text-center">
                        <h5 class="title divider-3">Adam & Eve</h5>
                        <div class="about-des mt-30">Cras ultricies ligula sed magna dictum porta. Quisque velit nisi, pretium ut lacinia in</div>
                    </div></div>
            </div>

            <div class="item">
                <div class="story-item">
                    <div class="story-image clearfix"><img class="img-responsive" src="{{ asset('images/story/03.jpg') }}" alt="">
                        <div class="story-link"><a href="stories-details.html"><i class="glyph-icon flaticon-add"></i></a></div></div>
                    <div class="story-details text-center">
                        <h5 class="title divider-3">Bella & Edward</h5>
                        <div class="about-des mt-30">Cras ultricies ligula sed magna dictum porta. Quisque velit nisi, pretium ut lacinia in</div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="story-item">
                    <div class="story-image clearfix"><img class="img-responsive" src="{{ asset('images/story/04.jpg') }}" alt="">
                        <div class="story-link"><a href="stories-details.html"><i class="glyph-icon flaticon-add"></i></a></div></div>
                    <div class="story-details text-center">
                        <h5 class="title divider-3">DEMI & HEAVEN</h5>
                        <div class="about-des mt-30">Cras ultricies ligula sed magna dictum porta. Quisque velit nisi, pretium ut lacinia in</div>
                    </div></div>
            </div>
            <div class="item">
                <div class="story-item">
                    <div class="story-image clearfix"><img class="img-responsive" src="{{ asset('images/story/05.jpg') }}" alt="">
                        <div class="story-link"><a href="stories-details.html"><i class="glyph-icon flaticon-add"></i></a></div></div>
                    <div class="story-details text-center">
                        <h5 class="title divider-3">David & Bathsheba</h5>
                        <div class="about-des mt-30">Cras ultricies ligula sed magna dictum porta. Quisque velit nisi, pretium ut lacinia in</div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="story-item">
                    <div class="story-image clearfix"><img class="img-responsive" src="{{ asset('images/story/06.jpg') }}" alt="">
                        <div class="story-link"><a href="stories-details.html"><i class="glyph-icon flaticon-add"></i></a></div></div>
                    <div class="story-details text-center">
                        <h5 class="title divider-3">Eros & Psychi</h5>
                        <div class="about-des mt-30">Cras ultricies ligula sed magna dictum porta. Quisque velit nisi, pretium ut lacinia in</div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="story-item">
                    <div class="story-image clearfix"><img class="img-responsive" src="{{ asset('images/story/07.jpg') }}" alt="">
                        <div class="story-link"><a href="stories-details.html"><i class="glyph-icon flaticon-add"></i></a></div></div>
                    <div class="story-details text-center">
                        <h5 class="title divider-3">Hector & Andromache</h5>
                        <div class="about-des mt-30">Cras ultricies ligula sed magna dictum porta. Quisque velit nisi, pretium ut lacinia in</div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="story-item">
                    <div class="story-image clearfix"><img class="img-responsive" src="{{ asset('images/story/08.jpg') }}" alt="">
                        <div class="story-link"><a href="stories-details.html"><i class="glyph-icon flaticon-add"></i></a></div></div>
                    <div class="story-details text-center">
                        <h5 class="title divider-3">Bonnie & Clyde</h5>
                        <div class="about-des mt-30">Cras ultricies ligula sed magna dictum porta. Quisque velit nisi, pretium ut lacinia in</div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="story-item">
                    <div class="story-image clearfix"><img class="img-responsive" src="{{ asset('images/story/09.jpg') }}" alt="">
                        <div class="story-link"><a href="stories-details.html"><i class="glyph-icon flaticon-add"></i></a></div></div>
                    <div class="story-details text-center">
                        <h5 class="title divider-3">Henry & Clare</h5>
                        <div class="about-des mt-30">Cras ultricies ligula sed magna dictum porta. Quisque velit nisi, pretium ut lacinia in</div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="story-item">
                    <div class="story-image clearfix"><img class="img-responsive" src="{{ asset('images/story/10.jpg') }}" alt="">
                        <div class="story-link"><a href="stories-details.html"><i class="glyph-icon flaticon-add"></i></a></div></div>
                    <div class="story-details text-center">
                        <h5 class="title divider-3">Casanova & Francesca</h5>
                        <div class="about-des mt-30">Cras ultricies ligula sed magna dictum porta. Quisque velit nisi, pretium ut lacinia in</div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="story-item">
                    <div class="story-image clearfix"><img class="img-responsive" src="{{ asset('images/story/11.jpg') }}" alt="">
                        <div class="story-link"><a href="stories-details.html"><i class="glyph-icon flaticon-add"></i></a></div></div>
                    <div class="story-details text-center">
                        <h5 class="title divider-3">Jack & Sally</h5>
                        <div class="about-des mt-30">Cras ultricies ligula sed magna dictum porta. Quisque velit nisi, pretium ut lacinia in</div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="story-item">
                    <div class="story-image clearfix"><img class="img-responsive" src="{{ asset('images/story/12.jpg') }}" alt="">
                        <div class="story-link"><a href="stories-details.html"><i class="glyph-icon flaticon-add"></i></a></div></div>
                    <div class="story-details text-center">
                        <h5 class="title divider-3">James & Lilly</h5>
                        <div class="about-des mt-30">Cras ultricies ligula sed magna dictum porta. Quisque velit nisi, pretium ut lacinia in</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="page-section-ptb text-white bg-overlay-black-70 bg text-center" style="background: url({{ asset('images/bg/bg-4.jpg') }}) no-repeat 0 0; background-size: cover;">
        <div class="container">
            <div class="row mb-50 xs-mb-30">
                <div class="col-md-offset-1 col-md-10">
                    <h2 class="title divider mb-30">Nothing say better, then a video</h2>
                    <p class="lead">Eum cu tantas legere complectitur, hinc utamur ea eam. Eum patrioque mnesarchum eu, diam erant convenire et vis. Et essent evertitur sea, vis cu ubique referrentur, sed eu dicant expetendis.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h5 class="title mb-30">see video</h5>
                    <div class="popup-gallery">
                        <a href="https://www.youtube.com/embed/8xg3vE8Ie_E" class="play-btn popup-youtube"> <span><i class="glyph-icon flaticon-play-button"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="page-section-ptb grey-bg"><div class="container">
            <div class="row mb-50 xs-mb-30">
                <div class="col-md-offset-1 col-md-10 text-center">
                    <h2 class="title divider mb-30">Our Recent Blogs</h2>
                    <p class="lead">Nulla quis lorem ut libero malesuada feugiat. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Quisque velit nisi, pretium ut lacinia in, elementum id enim.</p>
                </div>
            </div>
            <div class="row post-article">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="post post-artical">
                        <div class="post-image clearfix"><img class="img-responsive" src="{{ asset('images/blog/01.jpg') }}" alt=""></div>
                        <div class="post-details">
                            <div class="post-title mt-20"><h5 class="title text-uppercase mt-20"><a href="blog-singal-fullwidth.html">Intentions That Energize You</a></h5></div>
                            <p>March, 2017 by<a href="#">John Doe</a></p>
                            <div class="post-icon">
                                <div class="post-content"><p>Cras ultricies ligula sed magna dictum porta. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Pellentesque in ipsum id orci porta dapibus. Curabitur aliquet quam.Cras ultricies ligula sed magna dictum porta. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Pellentesque in ipsum id orci.</p></div>
                                <a class="button" href="blog-singal-fullwidth.html">read more..</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="post post-artical">
                        <div class="post-image clearfix"><img class="img-responsive" src="{{ asset('images/blog/02.jpg') }}" alt=""></div>
                        <div class="post-details">
                            <div class="post-title mt-20"><h5 class="title text-uppercase mt-20"><a href="blog-singal-fullwidth.html">A Brief History Of Creation</a></h5></div>
                            <p>March, 2017 by<a href="#">John Doe</a></p>
                            <div class="post-icon">
                                <div class="post-content"><p>Cras ultricies ligula sed magna dictum porta. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Pellentesque in ipsum id orci porta dapibus. Curabitur aliquet quam.Cras ultricies ligula sed magna dictum porta. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Pellentesque in ipsum id orci.</p></div>
                                <a class="button" href="blog-singal-fullwidth.html">read more..</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row post-article mt-50">
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="post post-artical">
                        <div class="post-image clearfix"><img class="img-responsive" src="{{ asset('images/blog/03.jpg') }}" alt=""></div>
                        <div class="post-details">
                            <div class="post-title mt-20"><h5 class="title text-uppercase mt-20"><a href="blog-singal-fullwidth.html">A Time Travel Postcard</a></h5></div>
                            <p>November, 2017 by<a href="#">John Doe</a></p>
                            <div class="post-icon">
                                <div class="post-content"><p>Cras ultricies ligula sed magna dictum porta. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Pellentesque in ipsum id orci porta dapibus. Curabitur aliquet quam.</p></div>
                                <a class="button" href="blog-singal-fullwidth.html">read more..</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="post post-artical">
                        <div class="post-image clearfix"><img class="img-responsive" src="{{ asset('images/blog/04.jpg') }}" alt=""></div>
                        <div class="post-details">
                            <div class="post-title mt-20"><h5 class="title text-uppercase mt-20"><a href="blog-singal-fullwidth.html">Major Motives Of Our Lives</a></h5></div>
                            <p>November, 2017 by<a href="#">John Doe</a></p>
                            <div class="post-icon">
                                <div class="post-content"><p>Cras ultricies ligula sed magna dictum porta. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Pellentesque in ipsum id orci porta dapibus. Curabitur aliquet quam.</p></div>
                                <a class="button" href="blog-singal-fullwidth.html">read more..</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="post post-artical">
                        <div class="post-image clearfix"><img class="img-responsive" src="{{ asset('images/blog/05.jpg') }}" alt=""></div>
                        <div class="post-details">
                            <div class="post-title mt-20"><h5 class="title text-uppercase mt-20"><a href="blog-singal-fullwidth.html">All Faith Needs Feet</a></h5></div>
                            <p>November, 2017 by<a href="#">John Doe</a></p>
                            <div class="post-icon">
                                <div class="post-content"><p>Cras ultricies ligula sed magna dictum porta. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Pellentesque in ipsum id orci porta dapibus. Curabitur aliquet quam.</p></div>
                                <a class="button" href="blog-singal-fullwidth.html">read more..</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-70 xs-mt-30">
                <div class="col-sm-12 text-center">
                    <a class="button  btn-lg btn-theme full-rounded animated right-icn"><span>Show More<i class="glyph-icon flaticon-hearts" aria-hidden="true"></i></span></a>
                </div>
            </div>

        </div></section>




    <!--=================================
     page-section -->



    <!--=================================
    footer -->

    <footer class="page-section-pt text-white text-center" style="background: url({{ asset('images/pattern/04.png') }}) no-repeat 0 0; background-size: cover;">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <div class="row mb-50">
                        <div class="col-sm-12">
                            <h2 class="title divider mb-30">Contact Us</h2>
                            <p class="lead">Eum cu tantas legere complectitur, hinc utamur ea eam. Eum patrioque mnesarchum eu, diam erant convenire et vis. Et essent evertitur sea, vis cu ubique referrentur, sed eu dicant expetendis. Eum cu</p>
                        </div>
                    </div>
                    <div class="row mb-50">
                        <div class="col-sm-4">
                            <div class="address-block">
                                <i class="fa fa-desktop" aria-hidden="true"></i>
                                <a href="mailto:somemail@mail.com">somemail@mail.com</a>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="address-block">
                                <i class="fa fa-home" aria-hidden="true"></i>
                                <address>
                                    T317 Timber Oak Drive<br>
                                    Sundown, TX 79372
                                </address>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="address-block">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <a href="tel:+000123456789">+000 - 123 - 456 - 789</a>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 mb-30">
                            <h4 class="title divider-3">We Love Talking</h4>
                        </div>
                        <div class="col-sm-12">
                            <div id="formmessage" style="display:none">Success/Error Message Goes Here</div>
                            <form id="contactform" class="main-form" method="post" action="http://themes.potenzaglobalsolutions.com/html/cupid-love-dating-website-html5-template/php/contact-form.php">
                                <div class="form-group half-group">
                                    <div class="input-group">
                                        <input id="name" placeholder="Your name here" class="form-control" name="name" type="text">
                                    </div>
                                </div>

                                <div class="form-group half-group">
                                    <div class="input-group">
                                        <input placeholder="Your mail here" class="form-control" name="email" type="email">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <textarea class="form-control input-message" placeholder="Your message here*" rows="7" name="message"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="hidden" name="action" value="sendEmail"/>
                                    <button id="submit" name="submit" type="submit" value="Send" class="button btn-lg btn-theme full-rounded animated right-icn"><span>Submit Now<i class="glyph-icon flaticon-hearts" aria-hidden="true"></i></span></button>
                                </div>
                            </form>
                            <div id="ajaxloader" style="display:none"><img class="center-block" src="{{ asset('images/loading.gif') }}" alt=""></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="footer-widget mt-50">
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-2 col-md-8">
                        <div class="footer-logo mb-20">
                            <img class="img-center" src="{{ asset('images/footer-logo.png') }}" alt="">
                        </div>

                        <div class="social-icons color-hover mb-10">
                            <ul>
                                <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li class="social-dribbble"><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li class="social-gplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li class="social-youtube"><a href="#"><i class="fa fa-youtube"></i></a></li>
                            </ul>
                        </div>

                        <p class="text-white">© 2017  - Cupid Love All Right Reserved </p>
                    </div>
                </div>
            </div></div>

    </footer>

    <!--=================================
    footer -->

    <!--=================================
    Color Customizer -->
    <div class="style-customizer closed">
        <div class="buy-button"> <a class="opener" href="#"><i class="fa fa-cog fa-spin"></i></a>  </div>
        <div class="clearfix content-chooser">
            <div class="section-title"><h4 class="title">Color Schemes</h4></div>
            <p>Which theme color you want to use? Here are some predefined colors.</p>
            <ul class="styleChange clearfix">
                <li class="skin-default selected" title="Default" data-style="skin-default" ></li>
                <li class="skin-tomato" title="tomato" data-style="skin-tomato"></li>
                <li class="skin-ruby" title="ruby" data-style="skin-ruby" ></li>
                <li class="skin-pelorous" title="pelorous" data-style="skin-pelorous"></li>
                <li class="skin-cranberry" title="cranberry" data-style="skin-cranberry"></li>
                <li class="skin-golden-sand" title="golden-sand" data-style="skin-golden-sand"></li>
                <li class="skin-deep-cerise" title="deep-cerise" data-style="skin-deep-cerise"></li>
                <li class="skin-la-rioja" title="la-rioja" data-style="skin-la-rioja"></li>
                <li class="skin-summer-sky" title="summer-sky" data-style="skin-summer-sky"></li>
                <li class="skin-amaranth" title="amaranth" data-style="skin-amaranth"></li>
                <li class="skin-light-tomato" title="light-tomato" data-style="skin-light-tomato"></li>
                <li class="skin-pacific-blue" title="pacific-blue" data-style="skin-pacific-blue"></li>
            </ul>
            <ul class="resetAll clearfix">
                <li><a target="_blank" class="button" href="#"><span>Purchase Now</span></a></li>
                <li><a class="button-reset button" href="#"><span>Reset All</span></a></li>
            </ul>
        </div>
    </div>

    <div id="back-to-top"><a class="top arrow" href="#top"><i class="fa fa-level-up"></i></a></div>

    <!--=================================
     jquery -->


    <!-- jquery  -->
    <script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script>

    <!-- bootstrap -->
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap-select.min.js') }}"></script>

    <!-- appear -->
    <script type="text/javascript" src="{{ asset('js/jquery.appear.js') }}"></script>

    <!-- Menu -->
    <script type="text/javascript" src="{{ asset('js/mega-menu/mega_menu.js') }}"></script>

    <!-- owl-carousel -->
    <script type="text/javascript" src="{{ asset('js/owl-carousel/owl.carousel.min.js') }}"></script>

    <!-- counter -->
    <script type="text/javascript" src="{{ asset('js/counter/jquery.countTo.js') }}"></script>

    <!-- Magnific Popup -->
    <script type="text/javascript" src="{{ asset('js/magnific-popup/jquery.magnific-popup.min.js') }}"></script>

    <!-- style customizer  -->
    <script type="text/javascript" src="{{ asset('js/style-customizer.js') }}"></script>

    <!-- custom -->
    <script type="text/javascript" src="{{ asset('js/custom.js') }}"></script>


    </body>

    <!-- Mirrored from themes.potenzaglobalsolutions.com/html/cupid-love-dating-website-html5-template/index-default.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 25 Jan 2018 10:38:03 GMT -->
    </html>

{% endblock %}