{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<section class="inner-intro bg bg-fixed bg-overlay-black-60" style="background-image:url({{ asset('images/bg/inner-bg-1.jpg') }});">
    <div class="container">
        <div class="row intro-title text-center">
            <div class="col-sm-12">
                <div class="section-title"><h1 class="pos-r divider">login <span class="sub-title">login</span></h1></div>
            </div>
            <div class="col-sm-12 mt-70">
                <ul class="page-breadcrumb">
                    <li><a href="index-default.html"><i class="fa fa-home"></i> Home</a> <i class="fa fa-angle-double-right"></i></li>
                    <li><a href="login.html">Pages</a> <i class="fa fa-angle-double-right"></i></li>
                    <li><span>Login 1</span> </li>
                </ul>
            </div>
        </div>

    </div>
</section>

<section class="login-form login-img dark-bg page-section-ptb100 pb-70" style="background: url({{ asset('images/pattern/04.png') }}) no-repeat 0 0; background-size: cover;">

    <div class="container">
        <form action="{{ path("fos_user_security_check") }}" method="post">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="login-1-form clearfix text-center">
                    <h4 class="title divider-3 text-white">SIGN IN</h4>
                    <div class="login-1-social mt-50 mb-50 text-center clearfix">
                        <ul class="list-inline text-capitalize">
                            <li><a class="fb" href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
                            <li><a class="gplus" href="#"><i class="fa fa-google-plus"></i>  google+</a></li>
                        </ul>
                    </div>


                    <div class="section-field mb-20">
                        <div class="field-widget">
                            <i class="glyph-icon flaticon-user"></i>
                    <label for="username">{{ 'security.login.username'|trans }}</label>

                    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required"  />


</div>
                    </div>

                    <div class="section-field mb-10">
                    <div class="field-widget">
                        <i class="glyph-icon flaticon-padlock"></i>
                    <label for="password">{{ 'security.login.password'|trans }}</label>

                    <input type="password" class="Password" id="password" name="_password" required="required" />

                    </div>
                    </div>

                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

                    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="button  btn-lg btn-theme full-rounded animated right-icn" />

                    <div class="section-field mt-20 text-center text-white">
                        <p class="lead mb-0">Don’t have an account? <a class="text-white" href="register.html"><u>Register now!</u> </a></p>
                    </div>

                </div>
            </div>
        </div>
        </form>
    </div>

</section>


